.box{
    background-color: rgb(68, 68, 210);
    height: 200px;
    width: 1000px;
    color: white;
}

.box:hover{
    background-color: brown;
}




.style1 a:link{
    background-color: yellow;
    color: black;
    text-decoration-line: none;
}

.style1 a:hover{
background-color: green;
color: orange;   
text-decoration-line: underline;
}





.style{
    display: center;
    text-align: top;
    float: right;
}


.nava ul{
    
list-style-type: none;
background-color:brown;
text-align: center;
color: white;
}
.nava li{
    display: inline-flex;
    margin: 20px;
    cursor:pointer;
padding: 10px;
border-left: 1px solid;


}

.f-menu p{
    color: red;
    text-align: center;
}

.footer{
    background-color: white;
}
.f-menu h3{
    padding: 0%;
    margin: 0%;
    list-style-type:none;
}

.f-menu h3 ul li{
    font-size: 18px;
    line-height: 42px;
}

.f-menu{
    float: left;
    width: 20%;
}

.dropdown{
    display: none;
}
ul li:hover .dropdown{
    display: block;
    position: absolute;
    margin-left:-0.6cm;
    margin-top:1.4cm;
   
}

.dropdown ul{
    margin: 0%;
    padding: 0%;
    background-color: white;
    color: black;
}
.dropdown ul li{
    display: block;
    margin-left: 0%;
    padding-left: 0%;
    display: flex;   
margin: 0%;
 
}

ul li:hover{
    background-color: green;
    color: white;
}


.dropdown ul li:hover .dropdown1{

    width: 177px;
    display: inline;
    position: absolute;
    margin-left: 4.8cm;
    margin-top: -0.28cm;
}


.dropdown1{
    display: none;
}


.dropdown ul li:hover .dropdown2{

    width: 177px;
    display: inline;
    position: absolute;
    margin-left: 5.27cm;
    margin-top: -0.28cm;
    width: 185px;
    
}


.dropdown2{
    display: none;
}




.dropdown ul li:hover .dropdown3{

    width: 177px;
    display: inline;
    position: absolute;
    margin-left: 5.27cm;
    margin-top: -0.28cm;
    width: 240px;
    
}


.dropdown3{
    display: none;
}




.dropdown ul li:hover .dropdown4{

    width: 177px;
    display: inline;
    position: absolute;
    margin-left: 5cm;
    margin-top: -0.28cm;
    width: 240px;
    
}


.dropdown4{
    display: none;
}





.color{
    display: none;
}





    .dropdown2 ul li:hover .color{
    width: 177px;
    display: inline;
    position: absolute;
    margin-left:4.89cm;
    margin-top: -2.31cm;
    width: 230px;
    
}






.red{
    display: none;
}





    .dropdown ul li:hover .red{
    width: 177px;
    display: inline;
    position: absolute;
    margin-left:4.83cm;
    margin-top: -1.34cm;
    width: 230px;
    
}





.Addmission{
    display: none;
}





    .dropdown ul li:hover .Addmission{
    width: 177px;
    display: inline;
    position: absolute;
    margin-left:6.8cm;
    margin-top: -0.98;
    width: 230px;
    
}




.Addmission1{
    display: none;
}





    .dropdown ul li:hover .Addmission1{
    width: 177px;
    display: inline;
    position: absolute;
    margin-left:6.8cm;
    margin-top: -0.30cm;
    width: 230px;
    
}




.Addmission2{
    display: none;
}





    .dropdown ul li:hover .Addmission2{
    width: 177px;
    display: inline;
    position: absolute;
    margin-left:6.8cm;
    margin-top: -2.3cm;
    width: 230px;
    
}








.dropdown ul li:hover .dropdown5{

    width: 177px;
    display: inline;
    position: absolute;
    margin-left: 4.73cm;
    margin-top: -0.28cm;
    width: 185px;
    
}


.dropdown5{
    display: none;
}




.dropdown ul li:hover .dropdown6{

    width: 177px;
    display: inline;
    position: absolute;
    margin-left: 4.73cm;
    margin-top: -2.4cm;
    width: 185px;
    
}


.dropdown6{
    display: none;
}










.dropdown ul li:hover .dropdown9{
    display: inline;
    position: absolute;
    margin-left: 2.6cm;
    margin-top: -0.28cm;
    width: 240px;
    
}


.dropdown9{
    display: none;
}